page-login {

    /*ion-content{
    background-image: url('../assets/imgs/m_13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }*/
    

    .facebutton{
        text-align: center;
    }

   .joulogin{
       text-align: center
   }
   .goobutton{
       text-align: center;
   }



}
