page-profile {

    .logout {text-align: center;}

    .PicPro{
        border-radius: 50%;
        border: 5px;
        width: 40;
    }

    #centerPic{
        text-align: center;
    }

    .Proname{
        text-align: center;
    }

    
    
}
